# Test files
test-files/

# Build & Dev stuff
/.build
/build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Misc
.DS_Store
CLAUDE.md